<%
  # generate form id, based on host and port
  require 'digest'
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")
%>
<script type="text/javascript">
  function get_<%= form_id %>_action(form) {
      form.action = "https://" + window.location.host + "/node/<%= host %>/<%= port %>/?arg=<%= password %>"
  }
</script>
<form id="<%= form_id %>" method="post" target="_blank" onsubmit="get_<%= form_id %>_action(this)">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Shell
  </button>

<%= ERB.new(File.read('../common_files/copy_paste_help.sh.erb'), eoutvar: 'child').result(binding) %>

  <ul>
    <li>Server log file: <code>/tmp/server.log</code></li>
    <li>SSH tunnel: <code>ssh <%= host %> -NL 127.0.0.1:<%= app_server_port %>:127.0.0.1:<%= app_server_port %> -J <%= CurrentUser.name %>@login.hpc.vub.be</code></li>
    <li>Server URL: <code>http://127.0.0.1:<%= app_server_port %></code></li>
  </ul>
</form>
